
<ion-header>
  <ion-navbar>
    <ion-title>Tipo de cadastro: {{ tipoDeCadastro }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="fecharInscricao()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding *ngIf="tipoDeCadastro=='Usuário'" class="usuario">

  <ion-item>
    <ion-label stacked>Nome do usuário</ion-label>
    <ion-input type="text" placeholder="Digite seu nome aqui."></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>E-mail</ion-label>
    <ion-input type="text" placeholder="Seu endereço de e-mail."></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Senha</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Endereço</ion-label>
    <ion-input type="text" placeholder="Seu endereço"></ion-input>
  </ion-item>

</ion-content>

<ion-content padding *ngIf="tipoDeCadastro=='Farmácia'" class="farmacia">

  <ion-item>
    <ion-label stacked>Farmácia</ion-label>
    <ion-input type="text" placeholder="Qual o nome da sua farmácia?"></ion-input>
  </ion-item>

</ion-content>
